/* QW Extension
------------------------------------------------------------------------------------ */

@import "../../../../css/_mixins.scss";
@import "../../../../css/_theme-vars.scss";
@import "../../css/_skin-vars.scss";


/* More Link for Stylish & Panel & Plaque & Tricolore & Nodes & Card */
.sc_services_qw-stylish,
.sc_services_qw-plaque,
.sc_services_qw-tricolore,
.sc_services_qw-nodes,
.sc_services_qw-card,
.sc_services_qw-panel {
    .sc_services_item .sc_services_item_more_link {
        outline: none;
    }
}

/* Text for Stylish & Panel & Plaque & Tricolore & Nodes & Card*/
.sc_services_qw-tricolore,
.sc_services_qw-stylish,
.sc_services_qw-plaque,
.sc_services_qw-card,
.sc_services_qw-nodes,
.sc_services_qw-panel {
    .sc_services_item .sc_services_item_text {
        outline: none;
    }
}

/* Portfolio categories */
.sc_portfolio.sc_portfolio_qw-case,
.sc_portfolio.sc_portfolio_qw-board,
.sc_portfolio.sc_portfolio_qw-pack {
    .post_meta .post_meta_item.post_categories {
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        font-family: var(--theme-font-h5_font-family);
    }
}/* Portfolio */
.sc_portfolio.sc_portfolio_qw-board,
.sc_portfolio.sc_portfolio_qw-chess,
.sc_portfolio.sc_portfolio_qw-simple {
    	.sc_portfolio_item .post_featured {
		@include border-radius(10px);
		position: relative;
		overflow: hidden;
		z-index: 1;	
    	}
}
.sc_portfolio.sc_portfolio_qw-case {
	.sc_portfolio_item {
		.post_featured {
			@include border-radius(10px);
		}
		.sc_portfolio_item_content .post-more-link {
			font-size: 15px;
			&:after {
				top: -4px;
			}
		}
	}
}
.sc_portfolio.sc_portfolio_qw-board {
	.sc_portfolio_item .post_featured {
		.post_info {
			@include border-radius(10px);
			.post_title {
				&:before {
					bottom: 5px;
				}
			}
		}
	}
}
.sc_portfolio.sc_portfolio_qw-simple {
	.sc_portfolio_item_content .number {
		font-weight: 600;
	}
}

/* Services */
.sc_services_qw-card,
.sc_services_qw-plaque,
.sc_services_qw-tricolore {
	.sc_services_item {
		@include border-radius(10px);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
}
.sc_services_qw-card {
	.sc_services_item {
		.sc_services_item_thumb {
			@include border-radius(10px);
			position: relative;
			overflow: hidden;
			z-index: 1;
		}
		.sc_services_item_more_link {
			font-weight: 600;
		}
		.sc_services_item_title {
			line-height: 1.2em;
		}
		.sc_services_item_text {
			@include font(16px, 1.6em);
		}
	}
}
.sc_services_qw-nodes {
	.sc_services_item {
		.sc_services_item_number {
			line-height: 2.6em;
		}
		.sc_services_item_marker {
			@include border-radius(10px);
		}
		.sc_services_item_text {
			font-size: 16px;
		}
	} 
}
.sc_services_qw-panel {
	.sc_services_item {
		.sc_services_item_number {
			@include font(2.059em, 1em);
		}
		.sc_services_item_number,
		.sc_services_item_number.duplicate {
			font-weight: 600;
		}
		.sc_services_item_text {
			@include font(16px, 1.6em);
		}
		.sc_services_item_title {
			@include font(2.059em, 1.086em);
		}
	}
}
.sc_services_qw-plaque {
	.sc_services_item {
		.sc_services_item_content_inner_bottom {
			@include border-radius(10px);
		}
		.sc_services_item_more_link {
			bottom: 1px;
		}
		.sc_services_item_text {
			@include font(16px, 1.6em);
		}
	}
}
.sc_services_qw-price {
	.sc_services_item_price,
	.sc_services_item_title {
		@include font(1.412em, 1.2em);
	}
	.sc_services_item_number {
		margin-top: -2%;
		font-weight: 600;
	}
	.sc_services_item_price, 
	.sc_services_item_title {
		font-weight: 600;
	}
	.sc_services_item.with_head {
		.sc_services_item_head {
			@include border-radius(10px);
			.post_featured {
				@include border-radius(10px);
			}
		}
	}
}

.sc_services_qw-stylish {
	.sc_services_item {
		.sc_services_item_title {
			line-height: 1.2em;
		}
		.sc_services_item_more_link {
			bottom: 2px;
		}
		.sc_services_item_text {
			@include font(16px, 1.6em);
		}
	} 
}

.sc_services_qw-tricolore {
	.sc_services_item {
		.sc_services_item_title {
			@include font(2.059em, 1.1em);
		}
		.sc_services_item_text {
			@include font(16px, 1.6em);
		}
	}
	.slider_container {
		padding-top: 8px;
	}
	.slider-slide .sc_services_item {
		padding-top: 0;
	}
}

/* Testimonials */
.sc_testimonials_qw-date {
	.sc_testimonials_item {
		@include border-radius(10px);
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.sc_testimonials_item_content .sc_testimonials_item_date,
	.sc_testimonials_item_author .sc_testimonials_item_author_data .sc_testimonials_item_author_subtitle {
		font-size: 15px;
	}
}
.sc_testimonials_qw-big {
	.sc_testimonials_item_author .sc_testimonials_item_author_data .sc_testimonials_item_author_subtitle {
		font-size: 15px;
	}
}
